<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Ambitions</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <header>
            <div class="logo-container">
                <img
                    src="/img/logo-blanco.png"
                    alt="Logo de la Marca"
                    class="logo"
                ></img>
                <h1 class="name">Ambitions</h1>
            </div>
            <nav>
                <ul class="navbar-list">
                    <li>
                        <a href="/" class="navbar-item">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/realtimeproducts" class="navbar-item">
                            RealTime Products
                        </a>
                    </li>
                </ul>
            </nav>
            <div></div>
        </header>
        {{{body}}}
        <footer>© All rights reserved</footer>
    </body>
</html>